  <footer id="footer">
    <nav>
      <ul>
        <li>
          <a href="/company/">Company</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
          <li>
          <a href="/docs/">Docs</a>
        </li>
        <li>
        </li>
      </ul>
    </nav>
  </footer>
